{% extends "base.html" %}
{% block content %}

    <div class="jumbotron">
        <h1>Электронная библиотека</h1>
        <p class="lead">Это тестовое web-приложение по управлению электронной библиотекой.</p>
        <p><span id="reg-button" class="btn btn-lg btn-success" role="button" href="{{ url_for('registration') }}">Регистрация</span></p>
    </div>

    <div class="row marketing">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="search">
            <div class="form-group">
                {{ form_s.csrf_token }}
                {{ form_s.query.label }} {{ form_s.query(size=20, class_='form-control') }}
            </div>
            <button type="submit" class="btn btn-default">Искать</button>
        </form>

    </div>

{% endblock %}

